*{
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar{
    display: flex;
    background-color: rgb(101, 57, 57);
    height: 15vh;

}

.navbar .onglet ul {
    display: flex;
    list-style: none;

}

.navbar .logo img{
    width: 250px;
    margin-top: -20px;
}
.navbar .onglet ul{
    display: flex;
    margin-left: 18vh;
   color: white;
   font-size: 2rem;
   gap: 10vh;
   margin-top: 7vh;
   

}

/* .navbar .onglet ul li{
    border: 1px solid white;
    border-radius: 10px;

} */


